<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

</head>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

<script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="container">
  <h1>Bem-vindo à Minha Loja!</h1>
  <p>Aqui você encontra os melhores produtos com os melhores preços.</p>
  <button class="btn btn-primary">Ver Produtos</button>
</div>
